<div class="container">
    <form name="frmprd">
        <div class="form-group">
            <label>Product Id</label>
            <!--Data Binding Two Way with ngModel-->
            <input type="text" name="ProductId" [(ngModel)]="product.ProductId" class="form-control">
            <span>{{product.ProductId * 100}}</span>
        </div>
        <div class="form-group">
            <label>Product Name</label>
            <input type="text" name="ProductName" [(ngModel)]="product.ProductName" class="form-control">
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="text" name="Price" [(ngModel)]="product.Price" class="form-control">
        </div>
        <div class="form-group">
            <label>Category</label>
            <select name="Category" [(ngModel)]="product.Category" class="form-control">
        <option *ngFor="let c of cats" value="{{c}}">{{c}}</option>
      </select>
        </div>
        <div class="form-group">
            <!--Event Binding (click)-->
            <input type="button" value="New" class="btn btn-warning" (click)="clear()">
            <input type="button" value="Save" class="btn btn-success" (click)="save()">
        </div>
    </form>
</div>
<div class="container">
    <table class="table table-striped table-bordered table-dark">
        <thead>
            <tr>
                <th *ngFor="let h of headers">{{h}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prd of products" (click)="getSelectedProduct(prd)">
                <td *ngFor="let h of headers">
                    {{prd[h]}}
                </td>
            </tr>
        </tbody>
    </table>
</div>